<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.codebuster2"
    android:name="com.android.codebuster2">

    <!-- The latest version: -->
    android:versionCode="3"
    android:versionName="2.0"

    <!-- There are specific reasons we need to "min" the SDK to level 22. Mostly due to
          authentication. (See /auth/Authenticator.removeAccount) According to Google's release
          notes, v.22 was released in May 2013. I think that's a sufficient and substantial amount
          of time for android users to have updated their software. -->
    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="22" />

    <!-- Internet/WiFi Connection Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Authentication Permissions -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">

        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Acitivities -->
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SplashActivity" />
        </activity>

        <activity
            android:name=".activities.AuthenticatorActivity"
            android:label="Authenticator"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.GetHighScoresActivity"
            android:label="@string/title_activity_get_scores"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <!--
            Authenticator Service: Allows this app to communicate with the User's accounts in
            their "Settings->Accounts" list. Without this service we'd only be able to
            permanently store authentication credentials on our server.
        -->
        <service
            android:name="AuthenticatorService"
            android:exported="true"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" /> <!-- See res/xml for more about this one. -->
        </service>

    </application>

</manifest>
